nav
	header
		h1 Styleguide
		h2 Dave Bitter
		p 500710907
		button#menu-button.btn menu
	ul#menu
		li
			a(href="#all").active All
		li
			h3 Components
			ul
				li
					a(href="#chat") Chat
				li
					a(href="#login") Login
				li
					a(href="#mediaitem") Media item
				li
					a(href="#picture") Picture
				li
					a(href="#rating") Rating
				li
					a(href="#stepincdicator") Step indicator