body> nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;



	> header {
		font-size: .8em;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 2rem;

		> * {
			margin: 0 0 .5rem;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding: 0;

		&#menu {
			display: none;

			&.is-open {
				display: block;
			}
		}

		& li {
			display: block;
		}
	}

	a, h3 {
		text-decoration: none;
		color: $gray;
		background-color: white;
		width: 100%;
		display: block;
		padding: 1rem;
		margin: 0;
	}

	a.active {
		background-color: $primary;
		color: white;
		animation-name: fadeInLeft;
		animation-duration: .3s;
		animation-fill-mode: both;
	}
}

@media(min-width: 70rem) {
	nav {
		// position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding: 1rem 0;
		width: 20rem;

		header {
			flex-direction: column;
			padding: 1rem;

			> * {
				font-size: 1.5rem;
				text-align: right;
				width: 100%;
			}

			button {
				display: none;
			}
		}

		> ul#menu {
			display: block;

			ul a {

				&:not(.active) {
					margin-left: 1rem;
					width: calc(100% - 1rem);

				}

				&.active {
					padding-left: 1rem;
					margin-left: 0;
					border-left: 1rem solid darken($primary, 20%);
				}
			}
		}
	}

	main {
		margin-left: 20rem;
		width: calc(100% -20rem);
	}
}


@media(max-width: 70rem) {

	ul#menu {
		animation-name: slideInRight;
		animation-duration: .3s;
		animation-fill-mode: both;
		box-shadow: 0 .3rem .6rem rgba(0,0,0,0.16), 0 .3rem .6rem rgba(0,0,0,0.23);
	}
}

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

