section#login.active
	h1 Login
	form(action='/', method='post').feedback
		label(for='field-email') Email
		input#field-email(type='email', name='field-email', autocomplete='email', required='', autofocus='')
		label(for='field-password') Password
		input#field-password(type='password', name='field-password', required='')
		label(for='field-stay-logged-in')
			input#field-stay-logged-in(type='checkbox', name='field-stay-logged-in', value='stay-logged-in')
			| Stay logged in
		div
			a.block(href='/').pull-right Forgot password
		button.btn.btn--primary(type='submit') Login
